.learning-path-wrapper {
    .learning-path-container {
        .learning-path-title-panel {
            display: block;
            height: auto;
            width: 100%;
            
            .learning-path-title-panel-content {
                max-width: 960px;
            }

            .learning-path-title {
                border-bottom: none;
            }
        }

        .learning-path-content {
            overflow: initial;
            max-width: 960px;
            margin: 0 auto;
            padding-left: 50px;

            .courses-title{
                margin: 0 auto 25px;
                max-width: 700px;
            }

            .courses-list{
                margin: 0 auto;
            }
        }
    }
    .exit-course-container{
        position: static;
    }
}
